body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    
}

h2 {
    text-align: center;
    margin-bottom: 20px;

}

header {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #954f4f;
    text-align: center;
    padding: 1em;
    height: 250px; /* Adjust the height as needed */
    background-image: url('banner_bg.png'); /* Replace 'header-background.jpg' with the path to your image */
    background-size: cover; /* Cover the entire header with the image */
    background-position: center; /* Center the image */
    color: rgb(137, 62, 62); /* Set text color for better readability */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    background-color: #d8a8a8;
    color: #fff;
    text-align: center;
    padding: 0.5em;
    opacity: 0.8;
}

nav a {
    text-decoration: none;
    color: #952626;
    margin: 0 1em;
}

section {
    margin: 0 auto;
}



.hembilder {
    max-width: fit-content ;
}

#div-bg {
    background-image: url('bild_body.png');
    background-size: contain;
    background-position: center; /* Adjust this based on your preference */
    background-repeat: no-repeat;
    scale: 0.97 ;
    width: 100%;
    height: 640px;
    /* Additional styles for the div can be added here */

    /* Responsive adjustments */
    @media (max-width: 1080px) {
        height: 400px; /* Adjust the height for smaller screens */
    }

    @media (max-width: 390px) {
        height: 230px; /* Further adjust the height for even smaller screens */
    }
}

#div-bg-oppet {
    height: 250px; /* Adjust the height as needed */
    background-image: url('bg-oppet.png'); /* Replace 'header-background.jpg' with the path to your image */
    background-size: cover; /* Cover the entire header with the image */
    background-position: center; /* Center the image */
    color: #954f4f;
    position: relative;
    margin: 0 auto;
    width: 80%;

    @media (max-width: 767px) {
            width: 100%;
        }
    }
    
 

#div-oppet-text {
    margin-left: 10px;
    position: relative;
    left: 2%;
    top: 0;
    bottom: 0;

}

#div-oppet-header {
    padding-top: 5px;
    
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left; /* Align text to the left within the container */
    align-items: left;
}


.playfair-display-header {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
}

.map-div {
    max-width: 80%;
    overflow: hidden; /* Prevent horizontal scrolling */
    margin: 0 auto;
}

#map {
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 800px) {
    .map-div {
        max-width: 100%;
    }
}


#textkort {
    border:10px solid rgba(164, 115, 118, 0.634) ;
    border-radius: 1px;

    

}

.btn-div {
    
    text-align: center; /* Center the button within the container */
}

.btn {
    font-family:'Times New Roman', Times, serif;
    background-color:  #d8a8a8;
    padding-left: 20px;
    padding-right: 20px;
    color: #952626; /* Set text color to contrast with the background */
    text-decoration: none; /* Remove default underline for links */
    display: inline-block; /* Make the button a block element */
    border-radius: 5px;
}

#bild-oppet {
    border-radius: 100%;
    max-height: 160px;
    right: 2%;
    top: 20%;
    position: absolute;
    
}

#hitta-oss-div {
    padding-block: 5px;
    background-color: #eacdcd;
    max-width: 80%;
    margin: 0 auto;
    color: white;


    @media (max-width: 800px) {
        max-width: 100%;
    
    }
}

#div-bg-bokning {
    background-image: url(bokning.png);
    padding: 5px;
    height: 225px; /* Adjust the height as needed */
    background-size: cover; /* Cover the entire header with the image */
    background-position: center; /* Center the image */
}
    

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

  #bg-inspo-fransar {
    background-image: url(upd_fransar.png);
    padding: 5px;
    background-size: cover; /* Cover the entire header with the image */
    background-position: center; /* Center the image */


}

@media (max-width:1000px) {
    #bg-inspo-fransar{
        max-height: 300px;

    }
}

@media (max-width:2000px) {
    #bg-inspo-fransar{
        height: 600px;
    }
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
  #bg-inspo-fargombre {
    background-image: url(farg_ombre.png);
    padding: 5px;
    background-size: cover; /* Cover the entire header with the image */
    background-position: center; /* Center the image */


}

@media (max-width:1000px) {
    #bg-inspo-fargombre{
        max-height: 300px;

    }
}

@media (max-width:2000px) {
    #bg-inspo-fargombre{
        height: 600px;
    }
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

#bg-inspo-fransk {
    background-image: url(fransk_ombre.png);
    padding: 5px;
    background-size: cover; /* Cover the entire header with the image */
    background-position: center; /* Center the image */


}

@media (max-width:1000px) {
    #bg-inspo-fransk{
        max-height: 300px;

    }
}

@media (max-width:2000px) {
    #bg-inspo-fransk{
        height: 600px;
    }
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

#bg-inspo-design {
    background-image: url(design.png);
    padding: 5px;
    background-size: cover; /* Cover the entire header with the image */
    background-position: center; /* Center the image */


}

@media (max-width:1000px) {
    #bg-inspo-design{
        max-height: 300px;

    }
}

@media (max-width:2000px) {
    #bg-inspo-design{
        height: 600px;
    }
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}


#bg-inspo-pedikyr {
    background-image: url(pedikyr.png);
    padding: 5px;
    background-size: cover; /* Cover the entire header with the image */
    background-position: center; /* Center the image */


}

@media (max-width:1000px) {
    #bg-inspo-pedikyr{
        max-height: 300px;

    }
}

@media (max-width:2000px) {
    #bg-inspo-pedikyr{
        height: 600px;
    }
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
